player-connection-mode=Listen
player-connection-guid=3062221418
player-connection-debug=0
player-connection-project-name=Connect-And-Talk
player-connection-ip=172.19.224.1
player-connection-ip=192.168.212.191
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a283a37ef0ab4260996846ac9eab4fb6
