player-connection-mode=Listen
player-connection-guid=4015839335
player-connection-debug=0
player-connection-project-name=Connect-And-Talk
player-connection-ip=192.168.1.36
player-connection-ip=172.19.224.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=be7a9d9bb7ec4f948d4d50a3b326e39a
