player-connection-mode=Listen
player-connection-guid=1292469399
player-connection-debug=0
player-connection-project-name=Connect-And-Talk
player-connection-ip=172.19.224.1
player-connection-ip=192.168.212.191
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0de8878794a848b1b5aed74025436049
